{% extends "ndex.html" %}
{% block #%}
ponermedidas
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h2>Poner medidas</h2>
            <form>
                <input type="hidden", name="altura", value="{{altura[]}}", placeholder="metros">
                <lavel for="altura"></lavel>
                <input type="hidden", name="peso", value="{{peso[]}}", placeholder="kilogramos">
                <lavel for="peso"></lavel>
                <input type="hidden", name="talla", value="{{talla[]}}", placeholder="americana">
                <lavel for="talla"></lavel>
                <a href="{{url_for{index}}}" class="button is primery mt-2">V</a>
            </form>

        </div>
    </div>

</section> 
{% endblock %}