{% extends "base.html" %}
{% block titulo %}
Agregar usuario
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar usuario</h3>
            <form action="{{url_for('guardar_usuario')}}" method="post">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="descripcion">Apellido</label>
                <input required type="text" class="input" placeholder="Apellido" name="apellido" id="apellido">
                <label for="descripcion">Correo</label>
                <input required type="email" class="input" placeholder="Correo" name="correo" id="correo">
                <label for="descripcion">Nacionalidad</label>
                <input required type="text" class="input" placeholder="Nacionalidad" name="nacionalidad" id="nacionalidad">
                <label for="descripcion">Contraseña</label>
                <input required type="text" class="input" placeholder="Contraseña" name="password" id="password">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('home')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}