{% extends "maestra.html" %}
{% block titulo %}
Editar usuario
{% endblock %}
{{usuario}}
<!--
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar usuario</h3>
            <form action="{{url_for('actualizar_usuario')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{usuario[0]}}">
                <label for="nombre">Nombre:</label>
                <input value="{{usuario[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="descripcion">Apellido</label>
                <input value="{{usuario[2]}}" required type="text" class="input" placeholder="Apellido" name="apellido" id="apellido">
                <label for="precio">Correo</label>
                <input value="{{usuario[3]}}" required type="email" class="input" placeholder="Correo" name="correo" id="correo">
                <label for="precio">Nacionalidad</label>
                <input value="{{usuario[4]}}" required type="text" class="input" placeholder="Nacionalidad" name="nacionalidad" id="nacionalidad">
                <label for="precio">Contraseña</label>
                <input value="{{usuario[5]}}" required type="text" class="input" placeholder="Contraseña" name="password" id="password">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('home')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
-->