{% extends "base.html" %}
{% block titulo %} MIO {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Usuarios</h3>
            <a href="{{url_for('mostrar_form_agregar_usuario')}}" class="button is-success">Agregar</a>                
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Nacionalidad</th>
                        <th>Contraseña</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>
                                {{usuario[0]}}
                            </td>
                            <td>
                                {{usuario[1]}}
                            </td>
                            <td>
                                {{usuario[2]}}
                            </td>
                            <td>
                                {{usuario[3]}}
                            </td>
                            <td>
                                {{usuario[4]}}
                            </td>
                            <td>
                                {{usuario[5]}}
                            </td>
                            <td>
                                {# Pasar el id (lo que hay en juego[0] #}
                                <a href="{{url_for('mostrar_form_editar_usuario', id=usuario[0])}}" class="button is-info">Editar</a>
                                <td><form action="{{url_for('eliminar_usrio')}}" method="POST">
                                    <input type="hidden" name="id" value="{{usuario[0]}}">
                                    <button class="button is-danger">Eliminar</button>
                                </form></td>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}